.app-bar-contain {
    display: none;
}

.app-bar-contain nav {
    height: var(--nav-size);
    width: 100%;
    background-color: var(--bg);
    padding: 0 1rem;
    border-bottom: var(--border);
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-appbar {
    --logo-size: calc(var(--nav-size) * 0.8 );
    height: var(--logo-size);
    width:  calc(var(--nav-size) * 2 );
    border: none;
    margin-right: auto;
    cursor: pointer;
}

.burger-menu {
    --logo-size: calc(var(--nav-size) * 0.6 );
    height: var(--logo-size);
    width:  var(--logo-size);
    border: none;
    margin-left: auto;
    cursor: pointer;
}

.app-bar-contain button {
    background-color: transparent;
    border-radius: 50%;
    border: none;
    height: var(--logo-size);
    width:  var(--logo-size);
    padding: 3px;
    margin: 5px;
}

.appbar-drawer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.appdrawer-item {
    display: flex;
    align-items: center;
    justify-content: center;
}

.appBarLi{
    --button-size: calc(var(--nav-size) * 1.5 );
    width: calc(var(--button-size) * 5);
    height: calc(var(--button-size) * 0.5);
}

@media (max-width: 580px){
    .app-bar-contain {
        display: block;
    }
}