#v-call-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#call-video-box {
    background-color: black;
    position: relative;
    width: 700px;
    height: 450px;
}

.clientVideo {
    background-color: black;
    width: 700px;
    height: 450px;
    border: 2px solid white;
}

.clientVideo-accepted {
    position: absolute;
    right: 0px;
    bottom: 0px;
    width: 200px;
    height: 150px;
    margin: 5px;
}

#partnerVideo {
    width: 700px;
    height: 450px;
    background-color: black;
    z-index: -1;
}

#call-end {
    width: 70px;
    height: 70px;
    background-color: red;
    font-size: 40px;
    color: white;
    border-radius: 50%;
    padding: 5px;
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
}