:root{
    --item-width: 60%; 
    --item-height: 20%;
    --btn-primary: #096cd7;
}

.card {
    margin: auto;
}

.card-wrap{
    margin: auto;
}

.card-item-wrap {
    height: var(--item-height);
    width: var(--item-width);
    background-color: white;
    display: flex;
    align-items: center;
    border-radius: 8px;
    padding: 5px;
    margin: 10px auto;
    border: 1px solid #4a4e52a6;
}
.avatar {
    height: calc(var(--item-height) * 0.6);
    width: calc(var(--item-height) * 0.6);
    border: 1px solid black;
    margin: 2%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card-item {
    margin: auto 3px;
}

button {
    height: 50px;
    width: 120px;
    background-color: var(--btn-primary);
    border: none;
    color: white;
    border-radius: 8px;
    margin-right: 2%;
}
.btn {
    margin-left: auto;
}

.btn:visited{
    border-radius: 8px;
    border: 1px solid white;
}
