:root{
    --item-width: 500px; 
    --item-height: 90px;
    --btn-primary: #096cd7;
}

.card {
    margin: auto;
}

.card-wrap{
    margin: auto;
}

.card-item-wrap {
    height: var(--item-height);
    width: var(--item-width);
    background-color: white;
    display: flex;
    align-items: center;
    border-radius: 8px;
    padding: 5px;
    margin: 10px auto;
    border: 1px solid #4a4e52a6;
    transition: width 0.5s ease-in-out;
}
.avatar {
    height: calc(var(--item-height) * 0.6);
    width: calc(var(--item-height) * 0.6);
    border: 1px solid black;
    margin: 2%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card-item {
    margin: auto 3px;
}

.btn {
    height: 50px;
    width: 120px;
    background-color: var(--btn-primary);
    border: none;
    color: white;
    border-radius: 8px;
    margin-right: 2%;
    margin-left: auto;
    transition: width 0.5s ease-in-out;
}

.btn:visited{
    border-radius: 8px;
    border: 1px solid white;
}

.btn-accept-friend {
    background-color: rgb(35, 148, 35);
}
.btn-reject-friend {
    background-color: rgb(252, 49, 49);
    margin-left: initial;
}
.btn-remove-friend {
    background-color: rgb(255, 50, 50);
}
.btn-pending-friend {
    background-color: rgb(252, 184, 58);
}
.btn-cancel-friend {
    background-color: rgb(255, 180, 40);
}

@media (max-width: 720px) {

    .card-item-wrap {
        width: 300px;
    }

    .btn {
        width: 80px;
    }
}