.register-bg{
    width: 100vw;
    height: 100vh;
    background-image: url('../resources/bg/register-bg.jpg') , linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
    background-blend-mode: overlay;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}
.form-container {
    width: 450px;
    background-color: white;
    border-radius: 8px;
    max-width: 600px;
    margin: 8px;
}


h1 {
    text-align: center;
    margin-bottom: 8%;
}

.form-register {
    max-width: 100%;
    padding: 5%;
    margin: auto;
}

.icon-svg {
    width: 100%;
    margin: auto;
    display: flex;
    align-content: center;
    justify-content: center;
}

.btn-register {
    width: 8rem;
    height: 3rem;
    margin-right: 50%;
}
