* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

body {
  background-color: #4b4a4b;
  /* background-color:#dddddd81; */
  /* background-color:#747475cc; */
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: center;
}

#root {
  display: grid;
  place-items: center center;
}

::-webkit-scrollbar {
  display: none;
}

button:focus{
  outline: none;
}

