.login-bg{
    width: 100vw;
    height: 100vh;
    background-image: url('../resources/bg/login-bg.jpg') , linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
    background-blend-mode: overlay;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.login-container{
    background-color: white;
    border-radius: 8px;
    border: 2px solid #5e5e5f;
    width: 450px;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 25vh;
    left:30vw;
}

.login-logo{
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-logo-img{
    width: 280px;
    height: 120px;
}

.login-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
}

.login-form .form-control{
    margin: 10px 0;
    width: 100%;
}

.login-form label {
    display: inline-block;
    font-weight: bold;
    margin-bottom: 5px;
}

.login-form input:not([type='checkbox']):not([type='submit']){
    background-color: transparent;
    border: 2px solid #ecf2ff;
    border-radius: 3px;
    font-size: 14px;
    padding: 10px;
    width: 100%;
}

.login-form .checkbox-control{
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    margin-bottom: 15px;
    width: 100%;
}

.login-form .checkbox-control label {
    color: #7a7e8c;
    font-weight: normal;
    margin-left: 5px;
}

.login-form .checkbox-control .link{
    margin-left: auto;
}

.btn-login{
    background-color: #141c2c;
    border: 2px solid #141c2c;
    color: white;
    border-radius: 3px;
    font-weight: bold;
    font-size: 14px;
    padding: 10px;
    margin: 20px 0;
    width: 100%;
    cursor: pointer;
    filter: brightness(0.7)
}

.btn-login:hover{
    filter: brightness(1)
}

.login-form small {
    font-size: 15px;
}

.login-form .link{
    text-decoration: none;
    color: blue;
}

@media (max-width: 480px){
    .login-container{
        width: 320px;
        top: 10%;
        left: 8%;
    }
}
